* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: SF PRO DISPLAY;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative; 
    overflow: hidden;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 7vh;
    width: 70vw;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: white;
}
#page>nav>h3{
    font-weight: 600;
}
#buttons {
    display: flex;
    align-items: center;
    font-size: small;   
}

#buttons button {
    font-size: small;
    color: white;
    border-radius: 50px;
    padding: 3px 10px;
    border: none;
    background-color: transparent;
    cursor:  pointer;
}
#buttons button:last-child{
    background-color: blue;
}
#buttons a {
    color: white;
    text-decoration: none;
    margin-right: 20px; 
    font-weight: 120;
}
#buttons .demo-btn {
    margin-right: 20px;
    border: 1px solid white;
}  
#page>video{
    height: 100%;
    width: 50%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#page-bottom{
    height: 20%;
    width: 25%;
    /* background-color: green; */
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: white; */
} 
.icon-wrapper{
    text-decoration: none;
    font-size: 1.75vw;
    font-weight: 500;
    line-height: 1.1666666667;
    margin-top: 15px;
    padding-bottom: 2px;
    color: #ff5a00;
}
.icon-text:hover{
    text-decoration: underline;
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>h1{
    font-size: 3.4vw;
    color: white;
    font-weight: 700;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;   
}
#page2{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page2>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page2>h1{
    font-size: 3.4vw;
    color: white;
    font-weight: 700;
    position: absolute;
    text-align: center;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;   
}
#page3{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page3>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page3>h1{
    font-size: 3.4vw;
    color: white;
    font-weight: 700;
    position: absolute;
    text-align: center;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;   
}

#page4{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}
#page4>img{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 60%;
}
#page4-upper{
    height: 30%;
    width: 35%;
    top: 5%;
    position: absolute;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
}
#page4-upper>img{
    position: absolute;
    width: 70%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
#page4-upper-inner{
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}
#page4>button{
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    border-color: 5px solid #000;
    background-color: white;
    border-radius: 50px;
    padding: 15px 35px;
    font-size: 1.4vw;
    font-weight: 600;
    cursor: pointer;
}

#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page5>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#center-page5{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 2vw;
    width: 60%;
}
#center-page5 h1{
    font-size: 5vw;
}
#page5-info{
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
}
#left{
    position: relative;
    height: 100%;
    width: 50%;
}
#left>h1{
    position: absolute;
    font-size: 2.3vw;
    left: 45%;
    transform: translateX(-50%);
    top: 15%;
    font-weight: 700;
}
#right{
    position: relative;
    align-items: start;
    height: 100%;
    width: 50%;
}
#right>p{
    position: absolute;
    top: 15%;
    font-size: 1.28vw;
    width: 70%;
    color: #86868b;
    font-weight: 600;
}
#right>button{
    font-size: 1.25vw;
    position: absolute;
    top: 60%;
    padding: 10px 20px;
    border: none;
    background-color: #ff5a00;
    color: white;
    border-radius: 50px;
    font-size: 1.25vw;
    margin-top: 1.5vw;
}
